.inp{
    margin: 40px;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline {
    width: 100%;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.but.MuiButton-containedPrimary{
    margin-bottom: 20px;
}

p{
    padding-top: 20px;
}
.MuiFormControl-root MuiTextField-root{
    width: 100%;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: red;
    /*background-color: #3f51b5;*/
    margin-bottom: 200px;
}

.but{
    margin-bottom: 20px;
}
.MuiButton-root {
    margin-bottom: 20px;
}

.form{
    margin: 20px;
}